@font-face {
  font-family: Pacifico;
  src: url(Pacifico-Bold.otf);
}

.main-header .logo {
  font-family: "Pacifico";
  font-weight: bold;
  font-size: 28px;
}

h1 {
  font-family: "Pacifico";
  font-weight: bold;
  color: red;
}

h3 {
  font-family: "Georgia";
  text-decoration: underline;
}

p {
  font-size: 18px;
}